<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
    <div class="form-group">
        <label for="title">Title: </label>
        <input 
            type="text" 
            placeholder="Put the title" 
            required
            formControlName="title"
        />
        <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="title.errors?.['required']">The title is required</p>
        </div>
    </div>
    <div class="form-group">
        <label for="description">description: </label>
        <textarea 
            placeholder="What happened there?" 
            required
            formControlName="description"
        >
        </textarea>
    </div>
    <div 
        *ngIf="description.invalid && formDir.submitted"   
        class="validation-error validation-error-bottom"
    >
        <p *ngIf="description.errors?.['required']">The description is required.</p>
    </div>
    <div class="form-group">
        <label for="Image">Photo that scored the most: </label>
        <input type="file">
    </div>
    <input type="submit" value="{{btnText}}">
</form>     
