* {
    padding: 0;
    margin: 0;
    font-family: Cambria;
    box-sizing: border-box;
    color: #444;
}

a {
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}

a:hover {
    color: #dec129;
}

/* FORM */
form {
  width: 450px;
  margin: 0 auto;
}  

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    
}

.form-group label {
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .4em;
}

.form-group input,
.form-group textarea {
    padding: .6em;
    color: #777;
    font-size: 0.8;
}

input[type="submit"] {
    background-color: #efefef;
    border: 2px solid transparent;
    padding: 0.6em 1em;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 1.5em;
}

input[type="submit"]:hover {
    color: #dec129;
    border-color: #dec129;
    background-color: transparent;
}

/*Validation error*/

.validation-error p {
    background-color: #ffeaec;
    box-shadow: #777;
    color: #DC3545;
    margin-top: 0.4em;
    border-left: 3px solid #dc3545;
    padding-left: 0.2em;
}

.validation-error-bottom p {
    margin-bottom: 0.3em;
}